@import url("https://fonts.googleapis.com/css2?family=Cute+Font&display=swap");

body {
  font-family: "Cute Font", cursive !important;
  background-color: rgb(228, 186, 190) !important;
  background-image: url("./assets/img/homepage_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h6,
.MuiTypography-displayBlock,
.MuiTab-root {
  font-family: "Cute Font", cursive !important;
  font-size: 1.675rem !important;
  font-weight: 700 !important;
  /* color: rgba(0, 0, 0, 0.54) !important; */
}

.MuiTypography-body1 {
  font-family: "Cute Font", cursive !important;
  font-size: 1.475rem !important;
  font-weight: 500 !important;
  line-height: 0.7 !important;
}

.MuiListItem-root {
  /* text-align: center !important; */
}

.aws-btn {
  font-size: 1.25rem;
}

h2 {
  font-family: "Cute Font", cursive !important;
}

.MuiButton-outlined {
  border: 2px solid black !important;
}

.MuiButton-outlined.Mui-disabled {
  border: 1px solid rgba(0, 0, 0, 0.12) !important;
}
